STM32/Project_backup
Vscode_Project
Test
Keil_Project
C basic
DebugConfig*
Objects*
Listings*
*.Lenovo
*.uvoptx
*.uvprojx
.vscode*
*.log
*.lock
*.htm
*.log
*.lock
*.log.lock
.vscode/*
STM32/02_FlowLED/Objects
STM32/02_FlowLED/.vscode
STM32/02_FlowLED/.vscode/uv4.log.lock
STM32/02_FlowLED/.vscode/uv4.log
STM32/02_FlowLED/Objects/01_LED.build_log.htm
